body {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 100vh; /* Altura total da tela */
  margin: 0;
  background-image: url('C:\Users\Leonardo Alves\Documents\GitHub\Alunos\web_24\Pri\Aula_01\calculadora\src\img\fundo.jpg'); /* Substitua 'caminho/para/sua/imagem.jpg' pelo caminho da sua imagem de fundo */
  background-size: cover; /* Garante que a imagem de fundo cubra todo o fundo */
  background-position: center; /* Centraliza a imagem de fundo */
}

.calculadora {
  width: 300px;
  max-width: 100%; /* Garante que a calculadora não ultrapasse a largura máxima da tela em dispositivos pequenos */
  border: none;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 255, 17, 0.1);
}

.tela {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: right;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.4); /* Fundo semi-transparente para facilitar a leitura */
  border-radius: 5px;
}

.botoes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.botoes button {
  font-size: 20px;
  font-weight: 550;
  padding: 20px;
  border: none;
  cursor: pointer;
  color: black;
  background-color: rgba(255, 255, 255, 0.4); /* Botões transparentes */
  border-radius: 10px;
  transition: background-color 0.3s;
}

.botoes button:hover {
  background-color: #2bf2034d; /* Adiciona uma cor de fundo semi-transparente quando o botão é hover */
}

.botoes button:active {
  background-color: rgba(92, 90, 90, 0.5); /* Adiciona uma cor de fundo semi-transparente mais escura quando o botão é clicado */
}
